/*::selection {
  color: #fff;
  background: #ec6803;
}*/

html, body{
    /*padding-top: 56px;*/
   /* min-height: 100vh;
    overflow-x: clip;*/
}
ul{
    list-style: none;
    margin: 0;
    padding: 0;
}
a:hover {
    color: #fff;
    /*color: #000;*/
    text-decoration: none;
}
.full_background{
  padding-top: 3.75rem;
  background-color: rgb(69, 90, 100);
}
.container-sm{
  max-width: 480px;
  background-color: rgb(69, 90, 100);
  box-shadow: 0 -5px 40px 7px rgba(0, 0, 0, 0.08);
}
.container-sm:nth-child(2){
  max-width: 480px;
  margin-top: 0;
  background-color: #fff;
}
.img-div-wrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding-top: 3rem;
}
.img-div-wrapper h2{
    padding: 1.25rem 0 .9375rem 0;
    color: #fff;
    font-size: 1.5rem;
    font-weight: 400;
}
.img-div-wrapper h6{
    padding: 0 0 1.5625rem 0;
    color: #fffefe ;
    font-weight: 300;
    line-height: 1.4;
    max-width: 170px;
    margin: 0 auto;
    opacity: 0.75;
    font-size: 1rem;
}
.img-div{
    height: 150px;
    width: 150px;
}
img{
  width: 100%;
  border-radius: 50%;
}
.container-sm .vcard-row{
  position: relative;
  padding: 1.25rem 0 1.25rem 4.0625rem;
  /*float: left;*/
  width: 100%;
}
.vcard-row .fa-phone, .vcard-row .fa-envelope, .vcard-row .fa-globe{
  position: absolute;
  top: 40px;
  left: 20px;
  font-size: 1.25rem;
  color: #b3b4bb;
}
.fa-instagram{
  margin-top: .5rem;
  font-size: 1.4375rem;
  color: #fff;
}
.vcard-row h4{
  line-height: 1.3;
  margin-bottom: 0;
  color: #323032;
  font-weight: 400;
}
.container-sm:nth-child(2) .col-12:nth-child(2) .vcard-row h4{
  font-size: 1rem;
}
.container-sm:nth-child(2) .col-12:nth-child(2) .vcard-row a{
  display: block;
  width: 40px;
  height: 40px;
}
.container-sm:nth-child(2) .col-12:nth-child(2) .vcard-row a div{
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-top: 2.875rem;
  text-align: center;
  background: #e1306c;
}
.vcard-row a{
  font-size: .875rem;
  color: #323032;
  text-decoration: none;
}
.vcard-row small{
  display: block;
  padding-bottom: 1rem;
  font-size: .8125rem;
  color: #82848f;
  border-bottom: solid 1px #eaeaea;
}
@media(max-width: 576px){
  .full_background{
    padding-top: 0;
    background-color: rgb(69, 90, 100);
  }
  .container-sm{
    max-width: 100%;
    background-color: rgb(69, 90, 100);
    box-shadow: 0 -5px 40px 7px rgba(0, 0, 0, 0.08);
  }
  .container-sm:nth-child(2){
    max-width: 100%;
    margin-top: 0;
    background-color: #fff;
  }
}